.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.logo-img {
  height: 100%;
  width: 100%;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0);
  border: None;
  border-radius: 0;
  color: rgba(243, 239, 248, 1);
  transition: border 10s;
  outline: None;
}

.nav-button:hover {
  border-bottom: 1px solid rgba(243, 239, 248, 1);
  outline: None;

}

.nav-button:focus {
  outline: None;
}

.nav-greetings {
  background-color: rgba(0, 0, 0, 0);
  border: None;
  border-radius: 0;
  color: rgba(243, 239, 248, 1);
  transition: border 10s;
  outline: None;
}

.nav-greetings:hover {
  cursor: default;
}


