<div class="columns is-centered auth-card">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <form action="post" #loginForm="ngForm">
          <div class="field">
            <label class="label">Логин</label>
            <div class="control">
              <input [(ngModel)]="username" name="username" id="username" class="input" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Пароль</label>
            <div class="control">
              <input [(ngModel)]="password" name="password" id="password" class="input" type="password">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button #submitButton [disabled]="loginForm.invalid" (click)="submit(loginForm)" class="button is-info">Войти</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
