<div class="columns is-centered auth-card">
  <div class="column is-8">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <h4 class="subtitle">Временные параметры</h4>
          </div>
        </div>
        <div class="columns">
          <div class="column is-3">
            <label for="start_date">Начальная дата:   </label>
            <input class="" type="date" name="start_date" id="start_date">
          </div>
          <div class="column is-3">
            <label for="end_date">Конечная дата:   </label>
            <input class="" type="date" name="start_date" id="end_date">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h4 class="subtitle">Качественные параметры</h4>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h4 class="subtitle">Количественные параметры</h4>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label for="limit">Выборка:   </label>
            <input id="limit" type="number">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
